body{
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,#0DD081, #35A4A6);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.card-container
{
    background: linear-gradient(90deg,#0DD081, #35A4A6);
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.1);
    padding-top: 1px;
    border-radius: 25px;
    background-color: white;
}
.login h1{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.login form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: black;
}
.mdp{
    margin: -5px 75px 20px 75px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.mdp:hover{
    text-decoration: none;
}
input[type="submit"]{
    margin: 0 0 8px 0;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #0075EC;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #adadad;
    transition: .5s;
}
